        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            height: 100vh;
            width: 100vw;
            background: rgb(51, 51, 51);
        }

        /* .white {
            display: flex;
            position: relative;
            top: -2px;
            color: ivory;
            cursor: pointer;
            font-size: x-large;
            font-weight: 400;
        }

        .center {
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        #qiehuanzuo {
            position: absolute;
            background-color: transparent;
            left: 0;
            width: 50%;
            height: 430px;
            top: 0;
            z-index: 1;
            cursor: w-resize;
        }

        #qiehuanyou {
            position: absolute;
            background-color: transparent;
            left: 50%;
            width: 50%;
            height: 430px;
            top: 0;
            z-index: 1;
            cursor: w-resize;
        }

        .bao {
            display: flex;
            position: relative;
            display: inline-block;
            height: 430px;
        }

        .bao:hover {
            transition: 0.7s;
            transition-delay: 350ms;
            outline: 800px outset #c889ebe8;
            /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        /* } */
        
        /* #next,#prev { */
            /* border-radius: 5px; */
        /* } */
        /* #next:hover,#prev:hover,#xg:hover { 
            color: #c889ebe8;
        } */

.center {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bao {
    position: relative;
}

#qiehuanzuo {
    position: absolute;
    background-color: transparent;
    left: 0;
    width: 50vw;
    height: 14rem;
    top: 0;
    z-index: 1;
    cursor: w-resize;
}

#qiehuanyou {
    position: absolute;
    background-color: transparent;
    left: 50vw;
    width: 50vw;
    height: 14rem;
    top: 0;
    z-index: 1;
    cursor: w-resize;
}

img {
    width: 100vw;
    height: 14rem;
}

.white {
    margin-top: -1rem;
    font-size: 1.2rem;
    color: ivory;
}